version: "3.9"

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - gateway

  gateway:
    build: .
    container_name: go-gateway
    env_file:
      - .env
    depends_on:
      - users
      - admin

  users:
    build: ./services/users
    container_name: users-service

  admin:
    build: ./services/admin
    container_name: admin-service
